{% import '_includes/forms' as forms %}

<div class="settings">
    {{ forms.autosuggestField({
        label: 'Preview Source'|t('content-templates'),
        instructions: 'The path of the folder to select content template previews from.'|t('content-templates'),
        id: 'previewSource',
        name: 'previewSource',
        suggestEnvVars: true,
        suggestAliases: true,
        value: settings.previewSource,
        required: true,
        errors: settings.getErrors('previewSource'),
    }) }}
</div>
