{% import '_includes/forms' as forms %}

<div class="settings">
    {{ forms.autosuggestField({
        label: 'Preview source'|t('content-templates'),
        instructions: 'Which folder do you want to select content template previews from?'|t('content-templates'),
        id: 'previewSource',
        name: 'previewSource[]',
        suggestEnvVars: true,
        suggestAliases: true,
        value: settings.previewSource is not empty ? settings.previewSource[0] : '',
        required: true,
    }) }}
</div>
