.ct_preview-image-select {
    text-align: center;

    > .btn {
        margin-top: 8px;
    }

    &-show {
        > img {
            margin: 0 auto;
        }

        > p {
            margin: 0;
        }
    }

    &-menu {
        width: 388px;

        > ul {
            display: flex;
            flex-flow: row wrap;
            width: 100%;

            > li {
                display: flex;
                flex-direction: column;
                padding: 10px !important;
                width: 120px !important;

                > a {
                    flex-grow: 1;
                    padding: 10px !important;
                    width: 120px !important;
                    text-align: center !important;
                    white-space: normal;
                    transform: translateX(4px);
                    cursor: pointer;

                    > img {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
