$buttonMargin: var(--m);

.ct {
  &_modal {
    > .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      pointer-events: none;
    }

    > .body {
      transition: opacity 0.25s ease-in-out;
    }

    &.applying {
      > .spinner {
        opacity: 1;
      }

      > .body {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  &_heading {
    text-align: center;
  }

  &_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &_template {
    display: flex;
    flex-flow: column nowrap;
    margin: 8px;
    width: 260px;
    text-align: center;

    > button {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      padding: $buttonMargin;
      width: 100%;
      background-color: var(--gray-100);
      border-radius: var(--small-border-radius);

      &:hover {
        background-color: var(--gray-200);
      }

      > img {
        margin: $buttonMargin 0;
        width: 232px;
        height: 232px;
      }

      > p {
        margin-top: 0;

        &:first-of-type {
          font-weight: 700;
          margin: 0
        }
      }
    }
  }
}
