$buttonMargin: var(--m);

.ct {
  &_modal {
    overflow-y: auto;

    > .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      pointer-events: none;
    }

    > .body {
      transition: opacity 0.25s ease-in-out;
    }

    &.applying {
      > .spinner {
        opacity: 1;
      }

      > .body {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  &_heading {
    text-align: center;
  }

  &_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &_template {
    display: flex;
    flex-flow: column nowrap;
    margin: 8px;
    width: 260px;
    text-align: center;

    > button {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      padding: $buttonMargin;
      width: 100%;
      background-color: var(--gray-100);
      border-radius: var(--small-border-radius);

      &:hover {
        background-color: var(--gray-200);
      }

      &.is-blank > div {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLXdpZHRoOjEuNXB4O308L3N0eWxlPjwvZGVmcz48dGl0bGU+bm90ZXMtcGFwZXI8L3RpdGxlPjxwYXRoIGNsYXNzPSJhIiBkPSJNMTMuNjI5LDIzLjI1SDIuMjVhMS41LDEuNSwwLDAsMS0xLjUtMS41VjIuMjVBMS41LDEuNSwwLDAsMSwyLjI1Ljc1aDE5LjVhMS41LDEuNSwwLDAsMSwxLjUsMS41VjEzLjYyOWExLjUsMS41LDAsMCwxLS40MzksMS4wNmwtOC4xMjIsOC4xMjJBMS41LDEuNSwwLDAsMSwxMy42MjksMjMuMjVaIi8+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xNC4yNSwyMy4xMTVWMTUuNzVhMS41LDEuNSwwLDAsMSwxLjUtMS41aDcuMzY1Ii8+PC9zdmc+);
      }

      &.is-default > div {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLXdpZHRoOjEuNXB4O308L3N0eWxlPjwvZGVmcz48dGl0bGU+bm90ZXMtcGFwZXItdGV4dDwvdGl0bGU+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xMy42MjksMjMuMjVIMi4yNWExLjUsMS41LDAsMCwxLTEuNS0xLjVWMi4yNUExLjUsMS41LDAsMCwxLDIuMjUuNzVoMTkuNWExLjUsMS41LDAsMCwxLDEuNSwxLjVWMTMuNjI5YTEuNSwxLjUsMCwwLDEtLjQzOSwxLjA2bC04LjEyMiw4LjEyMkExLjUsMS41LDAsMCwxLDEzLjYyOSwyMy4yNVoiLz48cGF0aCBjbGFzcz0iYSIgZD0iTTE0LjI1LDIzLjExNVYxNS43NWExLjUsMS41LDAsMCwxLDEuNS0xLjVoNy4zNjUiLz48bGluZSBjbGFzcz0iYSIgeDE9IjYuNzUiIHkxPSI2Ljc1IiB4Mj0iMTguNzUiIHkyPSI2Ljc1Ii8+PGxpbmUgY2xhc3M9ImEiIHgxPSI2Ljc1IiB5MT0iMTEuMjUiIHgyPSIxMiIgeTI9IjExLjI1Ii8+PC9zdmc+);
      }

      > div {
        margin: $buttonMargin 0;
        width: 232px;
        height: 232px;
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
      }

      > p {
        margin-top: 0;

        &:first-of-type {
          font-weight: 700;
          margin: 0
        }
      }
    }
  }
}
